.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body,
footer {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
