:root {
  --primary-header-color: #212121;
  --second-header-color: #ffffff;
  --third-header-color: #757575;
  --pimary-link-color: #ffffff;
  --accent-color: #2196f3;
  --advantages-color: #f5f4fa;
}
